# Dependencies
node_modules
.bun

# Next.js build output
.next
out

# Environment variables
.env
.env.local
.env.*.local

# Docker files
docker/
docker-compose.yml
.dockerignore

# Version control
.git
.gitignore

# IDE and OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Build logs
npm-debug.log*

# Testing
test-results
playwright-report
coverage
yarn-debug.log*
yarn-error.log*
bun.lockb
